
/*------ Main accordion with cards ------*/
.accordion {
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 
              0 6px 30px 5px rgba(0,0,0,0.12), 
              0 8px 10px -5px rgba(0,0,0,0.20);
}

.card {
  background: #212121!important;
  overflow: hidden!important;
}

.card.active > .card-header{
background: #121212!important;

}

.card.active > .card-header .card-icon {
  background: #121212!important;
  color: #7f0000!important;
}

.card.active > .card-header .card-icon-end {
  background: #121212!important;
  color: #7f0000!important;
}

.card-header {
  padding: 0!important;
  height: 60px!important;
  border-top: 1px solid #484848!important;
  cursor: pointer!important;
}

.card-icon {
  background: #7f0000!important;
  display: block!important;
  position: relative!important;
  height: 58px!important;
  width: 58px!important;
  line-height: 58px!important;
  color: #000000!important;
}

.card-header:hover .card-icon {
  background: #121212!important;
  color: #7f0000!important;
}


.card-body {
  background: #373737!important;
}

.card-icon-end {
  background: #212121!important;
  display: block!important;
  position: relative!important;
  height: 58px!important;
  width: 58px!important;
  line-height: 58px!important;
  color: #121212!important;
  margin-left: auto!important;
  border-top: 0!important;
  border-left: 1px solid #121212!important;
}

.card-header:hover {
  background: #121212!important;
}

.card-header:hover .card-icon-end {
  background: #121212!important;
  color: #7f0000!important;
}

.h-title {
 display: block;
 position: relative;
 height: 60px;
 color: #ffffff60;
 font-family: 'Ubuntu', sans-serif;
}